name: Build Recomputer-Gateway Firmware

on:
  workflow_dispatch:
  schedule:
  - cron: '0 0 * * 1'
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    types: [closed]
  release:
    types: [ created ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
 
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Free up disk space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf /usr/local/share/boost
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"
          df -h

      - name: Install build dependencies
        run: |
          sudo apt update
          sudo apt install build-essential clang flex bison g++ gawk gcc-multilib g++-multilib \
          gettext git libncurses5-dev libssl-dev rsync unzip zlib1g-dev file wget

      - name: Build for recomputer-gateway
        run: |
          git submodule update --init --recursive && cd openwrt
          rm -r feeds.conf.default && cp ../feeds.conf.default feeds.conf.default
          ./scripts/feeds update -a
          ./scripts/feeds install -a
       
          make defconfig
          rm -r .config && cp ../.config .config
          make defconfig
          
          unset CI
          unset GITHUB_ACTIONS
          unset CONTINUOUS_INTEGRATION
          echo "=== CI environment check ==="
          echo "CI=${CI:-not set}"
          echo "GITHUB_ACTIONS=${GITHUB_ACTIONS:-not set}"

          make -j$(nproc) V=s
      
      - name: Upload recomputer-gateway artifacts
        uses: actions/upload-artifact@v4
        with:
          name: recomputer-gateway
          path: |
            ./openwrt/bin/targets/armsr/armv8/openwrt-armsr-armv8-generic-rootfs.tar.gz