name: Build Recomputer-Gateway Firmware

on:
  workflow_dispatch:
  schedule:
  - cron: '0 0 * * 1'
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    types: [closed]
  release:
    types: [ created ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
 
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install build dependencies
        run: |
          sudo apt update
          sudo apt install build-essential clang flex bison g++ gawk gcc-multilib g++-multilib \
          gettext git libncurses5-dev libssl-dev rsync unzip zlib1g-dev file wget
          curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y --default-toolchain stable
          source $HOME/.cargo/env
          rustup target add aarch64-unknown-linux-musl
          rustc --version
          cargo --version

      - name: Build for recomputer-gateway
        run: |
          source $HOME/.cargo/env
          git submodule update --init --recursive && cd openwrt
          rm -r feeds.conf.default && cp ../feeds.conf.default feeds.conf.default
          ./scripts/feeds update -a
          ./scripts/feeds install -a
          make defconfig
          rm -r .config && cp ../.config .config
          make defconfig
          make -j$(nproc) V=s
      
      - name: Upload recomputer-gateway artifacts
        uses: actions/upload-artifact@v4
        with:
          name: recomputer-gateway
          path: |
            ./openwrt/bin/targets/armsr/armv8/openwrt-armsr-armv8-generic-rootfs.tar.gz